<!-- email_template.html.twig -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ subject }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-4">
        <div class="card">
            <div class="card-header bg-primary text-white text-center">
                <h1>{{ subject }}</h1>
            </div>
            <div class="card-body">
                <p class="lead">Bonjour Livreur <strong>{{ nom }}</strong>,</p>
                <p>{{ message }}</p>
            </div>
            <div class="card-footer text-muted text-center">
                <p>WeTek Team</p>
            </div>
        </div>
    </div>
</body>
</html>
