<!-- Site wrapper -->
<div class="wrapper">
  <!-- Navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="../../dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="">
        </div>
        <div class="info">
          <a href="../../index.html" class="d-block">Admin Wetek</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-shopping-bag"></i>
              <p>
                Gestion D'Offres
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                
              </li>
              <li class="nav-item">
                <a href="{{ path('app_offre_new') }}" class="nav-link">
                  <i class="far fa-plus nav-icon"></i>
                  <p>Ajouter Offre</p>
                </a>
              </li>
               <li class="nav-item">
                <a href="{{ path('app_offreA_show') }}" class="nav-link">
                  <i class="far fa-plus nav-icon"></i>
                  <p>List Offre</p>
                </a>
              </li>
               </li>
              
            </ul>
            <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-shopping-basket"></i>
              <p>
                Types offres
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{{ path('app_Typeoffre_new') }}" class="nav-link">
                  <i class="far fa-plus nav-icon"></i>
                  <p>Ajouter types offres</p>
                   <a href="{{ path('app_typeoffre_show') }}" class="nav-link">
                  <i class="far fa-plus nav-icon"></i>
                  <p>List types offres</p>
                </a>
                
          </li>
            </ul>
          </li>
        </ul>
        
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>